@use "./vars";

.homeAbout {
    height: 50em;
    width: 100%;

    &__img {
        height: 35em;
        width: 100%;
        object-fit: cover;
        position: relative;
    }

    &__div {
        position: absolute;
        background-color: #f5efef;
        width: 65%;
        height: fit-content;
        top: 35em;
        left: 50%;
        transform: translate(-50%);
    }
    &__divtext {
        padding: 2.5em;
        text-align: center;
    }
}

#homeAbout__h1 {
    color: #a9a49b;
    font-family: "pretrona", Extra-light;
    font-weight: 100;
    font-size: 3em;
}

#homeAbout__h2 {
    color: black;
    font-family: "Reenie Beanie";
    font-weight: 100;
    font-weight: normal;
    font-size: 2em;
    max-width: 11em;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#homeAbout__p {
    font-family: "roboto";
    font-size: 1em;
    max-width: 31em;
    margin: auto;
}
