@use "./vars";

.homeImage {
    display: flex;
    width: fit-content;
    margin: auto;
    height: 50em;
    &__box {
        width: 15em;
        height: 20em;
        margin: 1em;
        object-fit: cover;
    }
}
