@use "./vars";

.navbar .navbar-collapse {
    background-color: #ffff;
}
.navbar__logo {
    width: 20em;
    height: auto;
}

.nav-item {
    position: relative;
    margin: 1em;
}

.nav-link {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-logo-centered .navbar-nav .nav-link {
    padding: 0.5em 1em;
}
