@use './vars';
.navbar {
    display: flex;
    flex-direction: row;
    &_link {
        margin: auto;
        width: fit-content;
        height: fit-content;

        span {
            font-size: 2rem;
            color: #2f2e2e;
        }
        span:hover {
            color: #ffffff;
        }

        a {
            text-decoration: none;
        }

        &_logo {
            padding-bottom: 10rem;
        }
    }
}
