@use "./vars";

.presentationOne {
    margin: auto;
    display: flex;
    width: 70%;

    &__left {
        width: inherit;
        position: relative;

        &__div {
            padding: 0.5em;
            background-color: #dcd3c2;
            width: fit-content;
            height: fit-content;
        }

        &__one {
            width: 25rem;
            height: 30rem;
            object-fit: cover;
        }
        &__two {
            width: 20rem;
            height: 30rem;
            object-fit: cover;
        }
        &__three {
            width: 25rem;
            height: 18rem;
            object-fit: cover;
        }
    }

    &__right {
        width: inherit;

        &__text {
            text-align: center;

            h3 {
                font-size: 3rem;
            }

            p {
                font-size: 2em;
                line-height: 2em;
            }
        }

        &__button {
            text-align: right;
            margin-right: 4em;
            font-size: 2em;
            button {
                font-size: 0.5em;
                padding-left: 3em;
                padding-right: 3em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
        }
    }
}

#one {
    z-index: 3;
    top: 180px;
    left: 160px;
    position: absolute;
}
#two {
    z-index: 2;
    top: 45px;
    left: 450px;
    position: absolute;
}
#three {
    z-index: 1;
    top: 25px;
    left: 25px;
    position: absolute;
}
