@use "./vars";

.presentationthree {
    display: flex;
    width: 70%;
    margin: auto;

    height: 35rem;
    padding-top: 2em;
    padding-left: 15%;
    padding-right: 15%;

    &__div {
        margin: auto;

        &__img {
            height: 40rem;
            position: relative;
            bottom: 8rem;
        }
    }

    #div {
        height: fit-content;
        position: absolute;
        display: contents;
    }
}
