.whoiam {
    height: 55rem;
    margin-bottom: 12em;
    &__img {
        width: 100%;
        height: inherit;
        object-fit: cover;
        position: absolute;
        z-index: 0;
    }
    &__text {
        background-color: aliceblue;
        position: relative;
        z-index: 1;
        width: 60%;
        margin: auto;
        text-align: center;
        padding: 2em;
        top: 30em;

        h1 {
            font-size: 7rem;
            margin: auto;
        }
        h3 {
            font-size: 5rem;
        }

        p {
            font-size: 3rem;
        }
    }
}
